# Backend
/backend/target/

# Logs
/logs/

# Frontend
/frontend/node_modules/
/frontend/build/
/frontend/src/api-generated/

# Generic files
.DS_Store
.idea/
.run/

# Private files
private-notes.docx
_backup/